.bodyContainer {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mainBody {
    background-color: var(--primary-color);
    flex: 7;
}

.navbar {
    box-sizing: border-box;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
    height: fit-content;
}

.text span {
    color: var(--tertiary-color);
}

.options {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem;
    padding-left: 2rem;
    margin-bottom: .5rem;
    box-sizing: border-box;
    border-radius: 30px;
    &:hover{
        background-color: var(--primary-color);
        color: var(--secondary-color);
        --logo-color: #21293C;
    }
}

.margin {
    padding: 1rem;
}

.icon {
    flex: 1;
}

.option {
    flex: 5;
    font-size: larger;
    align-self: center;
    margin-left: 1rem;
}

.logo { 
    margin: auto;
}

.logoContainer {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.selected {
    margin: 2rem;
    width: -webkit-fill-available;
}

.cards {
    box-sizing: border-box;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.addNewTask {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.dashboardCards {  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.band {
    font-style: italic;
    color: #21293C;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height:10%;
    width:100%;
    padding:.5rem;
    padding-left: 1rem;
    box-sizing: border-box;
}

.italic {
  font-style: italic;
}

.number {
    font-size: 70px;
    font-weight: bold;
    flex: 7;
}

.and {
    display: flex;
    align-items: center;
}

.illus {
    padding: 1rem;
    box-sizing: border-box;
}

.iconContainer {
    padding: 1rem;
    border-radius: 5px;
    height: auto;
    flex: 1;
}

.dashboardContainer {
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    font-size: 1.2rem;
    font-style: italic;
}

.full {
    width: 100%;
}

tr {
    display: flex;
    box-sizing: border-box;
}

th {
    padding: 1rem;
    text-align: start;
}

td {
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
    padding: .8rem;
}

.status {
    border-radius: 30px;
    border: 1px solid;
    padding: .5rem;
    width: auto;
    margin: .3rem;
}

.Pending {
    background-color: rgba(51, 173, 209, 0.5);
    border-color: rgba(51, 173, 209, 1);
}

.Progress {
    background-color: rgba(246, 145, 52, 0.5);
    border-color: rgba(246, 145, 52, 1);
}

.Completed {
    background-color: rgba(100, 218, 105, 0.5);
    border-color: rgba(100, 218, 105, 1);
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.5s ease-in-out;
  overflow-x: hidden;
  text-align: center;
}

.modal {
    height: 60%;
    width: 30%;
    background-image: linear-gradient(var(--secondary-color) 10%, var(--primary-color), var(--primary-color), var(--primary-color));
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
}

.assign {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 45%;
}

.close {
    cursor: pointer;
    &:hover{
        transform: scale(1.5);
    }
}

.newTask {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.fit {
    width: fit-content;
}

.select {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
}

.inputLabel {
    text-align: start;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: .3rem;
}

select {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-size: 1rem;
}

.task {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    height: auto;
}

input, textarea {
    font-size: 1rem;
    font-family: 'DM Sans', 'Exalted', 'Protofo', sans-serif;
    border: .5px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    height: fit-content;
    padding: 1rem;
    resize: none;
    border-radius: 10px;
}

.add {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
    box-sizing: border-box;
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 25px;
    cursor: pointer !important;
    &:hover {
        opacity: 90%;
    }
}