.loginScreen {
    display: flex;
    text-align: center;
}

.greeting {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
}

.login {
    right: 0;
    border-start-start-radius: 150px;
    border-end-start-radius: 150px;
}

.signup {
    right: 50%;
    border-end-end-radius: 150px;
    border-start-end-radius: 150px;
}

.loginForm {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupForm {
    height: 100%;
    flex: 1;
}

.form {
    height: 30%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roleSelect {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
}

.roleOptions{
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 6rem;
}

.role {
    &:hover{
        transform: scale(1.1);
    }
}

.label {
    opacity: 50%;
    text-align: start;
    padding-top: 1rem;
}

.question {
    padding-top: 5rem;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers {
    padding-top: 1rem;
    padding-bottom: .2rem;
    width: 45%;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.step {
    background-color: rgba(0, 0, 0, 0.25);
    width: 30%;
    height: 1.1rem;
    padding: .5rem;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
}

.details {
    font-size: x-small;
    width: 47%;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.on {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.inline {
    display: flex;
    gap: 1rem;
    height: 3rem !important;
}

.address {
    padding-bottom: 3rem;
}

.wide {
    max-width: 10rem !important;
    &:hover{
        transform: scale(1.05); 
    }
}

.previous {
    color: var(--secondary-color) !important;
    background-color: var(--primary-color) !important;
    border: 1px solid var(--secondary-color) !important;
}

.signUpDropdown {
    background-color: var(--primary-color);
    color: black;
    height: 3rem;
}