

.loginScreen {
    display: flex;
    text-align: center;
}

.centerY {
    display: flex;
    align-items: center;
}

.greeting {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
}

.login {
    right: 0;
    border-start-start-radius: 150px;
    border-end-start-radius: 150px;
}

.signup {
    right: 50%;
    border-end-end-radius: 150px;
    border-start-end-radius: 150px;
}

.loginForm {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupForm {
    height: 100%;
    flex: 1;
}

.form {
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roleSelect {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
}

.roleOptions{
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 6rem;
}

.role {
    &:hover{
        transform: scale(1.1);
    }
}

.label {
    opacity: 50%;
    text-align: start;
    padding-top: 1rem;
}

.password {
    -webkit-text-security: disc;
}